a 
{
	color: #22BCE0;
}

body 
{
	background: #FFFFFF;
	font-family: "Open Sans";
	/* font-family: Arial; */
	font-size: 16px;
}

/*
.buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; 
}


.buttondemoBasicUsage md-content {
  margin-right: 7px; 
}


.buttondemoBasicUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; 
}


.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; 
}

*/


#contenido 
{
	margin: 2em 4em 2em 6em;
}

footer 
{
	color: rgba(255,255,255,0.7);
	background: #22BCE0;
	text-align: center;
	padding: 1em;
}

footer p:first-child 
{
	margin-bottom: 0;
}

footer p:last-child 
{
	margin-top: 0;
}

footer p:last-child:before 
{
	content: "- ";
}

footer p:last-child:after 
{
	content: " -";
}



header 
{
	background: #343B54;
	color: #FFF;	
	overflow: hidden;
	padding: 0.5em;
	position: relative;
}

header figure
{
	float: left;
	margin: 0;
}

header h1 
{
	font-size: 2em;
	font-weight: normal;
	margin: 0.2em 70px 0 2em;
}

header #avatar
{
	margin: 0.5em 1em 0 0;
	position: absolute;
	top: 0px;
	right: 0px;
}

header #avatar img
{
	border-radius: 50%;
	width: 55px;
} 

header #logo
{
	border-right: 1px solid #FFF;
	margin-right: 0.5em;
}

header #logo img 
{	
	margin-right: 0.5em;
	padding-right: 0.5em;
	width: 52px;

	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	-ms-transition:0.8s;
	
}

header #logo img:hover {

/* 
	Si coloco esto aca y lo elimino de "header #logo img", no se ve la vuelta de regreso del logo

	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	-ms-transition:0.8s;
*/
	
	-webkit-transform:rotate(360deg);  /* para que funcione en  Chrome y los nuevos*/
	-moz-transform:rotate(360deg); 	  /* para que funcione en  Firefox*/
	-o-transform:rotate(360deg); 	  /* para que funcione en  Opera*/
	-ms-transform:rotate(360deg); 	  /* para que funcione en  IE*/

}


nav 
{
	background: #7488CD;
	margin: 0;
	padding: 0 5.5em 0 0;
	position: relative;
}

nav ul 
{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li 
{
	display: inline-block;
	margin: 0 1em 0 0;
}

nav ul li a
{
	color: #FFF;
	display: block;
	padding: 0.5em;

	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	-ms-transition:0.4s;
}

nav ul li a:hover 
{
	background: #343B54;
}
