@font-face {
	font-family: 'headerFonts';
	src:url('fonts/headerFonts.eot?pvxars');
	src:url('fonts/headerFonts.eot?#iefixpvxars') format('embedded-opentype'),
		url('fonts/headerFonts.ttf?pvxars') format('truetype'),
		url('fonts/headerFonts.woff?pvxars') format('woff'),
		url('fonts/headerFonts.svg?pvxars#headerFonts') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'headerFonts';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
	color:#F63939;
	font-size: 1.2em;
	margin-right: 1em;
}
.icon-switch:before {
	content: "\e601";
	color:#F63939;
	font-size: 1.2em;
	margin-right: 1em;
}

	

body 
{
	background: #EEEEEE;
}


#header figure
{
	float: left;
	margin: 0;
}

#header #logo
{
	border-right: 1px solid #FFF;
	margin-right: 0.5em;
}

#header #logo img 
{	
	margin-right: 0.5em;
	padding-right: 0.5em;
	width: 62px;


	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	-ms-transition:0.8s;
	
}

#header #logo img:hover {

/* 
	Si coloco esto aca y lo elimino de "header #logo img", no se ve la vuelta de regreso del logo

	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	-ms-transition:0.8s;
*/
	
	-webkit-transform:rotate(360deg);  /* para que funcione en  Chrome y los nuevos*/
	-moz-transform:rotate(360deg); 	   /* para que funcione en  Firefox*/
	-o-transform:rotate(360deg); 	  /* para que funcione en  Opera*/
	-ms-transform:rotate(360deg); 	  /* para que funcione en  IE*/

}